* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  color: white;
}
.left {
  padding: 10px;
  width: 25vw;
}
.right {
  box-sizing: border-box;
  width: 75vw;
  margin: 10px 0px;
  /* padding: 10px; */
}
.Home {
  box-sizing: border-box;
}

.Home ul li {
  width: 14px;
  display: flex;
  gap: 13px;
  padding-top: 14px;
  font-weight: bold;
}
.logo {
  width: 10px;
}
.bg-black {
  background-color: black;
  color: white;
}
.bg-gray {
  background-color: #121212;
}
.rounded {
  border-radius: 7px;
}
.m-1 {
  /* margin: 10px; */
}

.heading {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  font-weight: bold;
  padding: 23px 14px;
  font-size: 10px;
  align-items: center;
}
.library {
  min-height: 75vh;
  position: relative;
}
.heading IMG {
  width: 20px;
}

.footer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  font-size: 10px;
  gap: 13px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.footer a {
  color: gray;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
}
.header > * {
  padding: 25px;
}

.spotifyplaylist {
  padding: 16px;
}
.cardContainer {
  max-height: 70vh;
  overflow-y: scroll;
  margin: 25px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.card {
  font-size: 1rem;
  position: relative;
  width: 140px;
  height: auto;
  padding: 12px;
  margin-top: 10px;
  border-radius: 7px;
  background-color: #252525;
}
.card img {
  border-radius: 7px;
  width: 100%;
  object-fit: contain;
}
.play_button {
  position: absolute;
  top: 135px;
  right: 15px;
  opacity: 0;
  transition: all 1s ease-out;
}
.card .play_button:hover {
  opacity: 1;
}

.right {
  position: relative;
}

.PLaybar {
  
  position: absolute;
  bottom:15px;
  width: 90%;
  height: 36px;
  background-color: #dad5d5;
  filter: invert(1);
  border-radius: 10px;
  padding: 12px;

}

.seekbar{
  height: 2px;
  width: 97%;
 border:  2px solid black ;
 position: absolute ;
 bottom: 8px;
 border-radius: 10px;
 left:2%;
 margin: 2pm;
}

.circle{
  height: 15px;
  width: 15px;
  border-radius: 7px;
  background-color:black;
  position: absolute;
  top: -6px;
  left: 2px;
  transition: left  0.5s;


}
.Songbuttons {
  width: 100%;
  /* height: 100px; */
  display: flex;
  gap: 15px;
  justify-content: center;
  /* align-items: center; */
}

.Songbuttons img {
  height: 30px;
}


.songlist
{
  height: 5px;
  overflow-y: scroll;
  /* margin :44px 0px; */
  
}
.songlist ul {
  list-style: none;
  padding: 0 12px;
}
.songlist ul li{
  height: 60px;
  box-sizing: border-box;
  list-style-type: decimal;
  display: flex;
  align-items: center;
  justify-content:space-around;
  gap: 10px;
  cursor: pointer;
  padding: 12px 0px;
  border:2px solid white;   
  margin: 13px 0px; 
  padding:13px ;
  font-size: 15px;
  border-radius: 5px;
}
.songlist ul li img{
  color: white;
}
.playnow{
  display: flex ;
}
song info{
  widows: 344px;
}
.info  div{
  width: 140px;
  font-size: 14px;
}
.playnow span{
  width: 90px;
  font-size: 14px;
}

