.border{
    border: 2px  solid  red ;
    margin: 3px;
}
.flex{
    display: flex;
}
.justefy-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.p-1{
    padding: 17px;
}

/* WebKit-based browsers */
::-webkit-scrollbar {
    width: 12px;      /* Width of vertical scrollbar */
    height: 12px;     /* Height of horizontal scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #2b2b2b;  /* Dark background for track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #555; /* Thumb color */
    border-radius: 10px;    /* Rounded corners */
    border: 3px solid #2b2b2b; /* Creates padding around thumb matching track color */
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;          /* "auto" or "thin" are options */
    scrollbar-color: #555 #2b2b2b;    /* thumb color followed by track color */
  }

  .singupbutton{
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148,148);
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 12px;
  }
  .singupbutton:hover{
    font-size: 17px;
    color: white;
  }
    
  .loginbutton{

    background-color: white;
    padding: 10px;
    color: black;
    width: 79px;
    border-radius: 21px;
    font-size: 17px;
  }
  .loginbutton:hover{
    font-size: 18 px;
    font-weight: bold;
  
  }